* {
    margin: 0;
    padding: 0;
}

header {
    border-bottom: 1px black solid;
    margin-bottom: 20px;
}

    .navbar{
        background-color: lightgrey;
    }

        .links {
            list-style-type: none;
            display: inline-flex;
        }
        
            a {
                margin: 0 0 10px 10px;
            }

body {
    background-color: mintcream;
}

h1 {
    color: blue;
}

article {
    background-color: beige;
}